<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <div>
            <h3 class="">Select Service:</h3>
            <select class="form-select fs-3" name="service">
                <option value="Doctor care">Doctor care</option>
                <option value="Nursing care">Nursing care</option>
                <option value="Medical social services">Medical social services</option>
                <option value="Homemaker or basic assistance care">Homemaker or basic assistance care</option>
            </select>
        </div>
</head>
<body>

</body>
</html>